body
{
    font-family: Arial, serif;
}

.timetable
{
    background-color: #fff;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: bold;
}

.timetable td
{
    border: 1px solid #000;
}

.timetable th
{
    padding: 3px;
    border: 1px solid #000;
    background-color: #aaa;
    font-size: 18px;
}

.timetable tr:nth-of-type(odd)
{
    background-color: #c1c1c1;
}

.timetable tr:hover
{
    background-color: #a2a2a2;
}

.send-info input:valid ~ input:valid ~ button
{
    display: block;
}

.type
{
    width: 40px;
}

.logo
{
    vertical-align: middle;
    height: 30px;
}

.warning
{
    color: #f00;
    font-weight: bold;
}

.on-time
{
    color: #14a012;
    font-weight: bold;
}

.end
{
    color: #7b7b7b;
}

.in-process
{
    color: #000;
}

.send-button
{
    margin: 5px;
    display: none;
    font-size: 14px;
}

.input
{
    margin: 5px;
    padding: 1px;
}

.label
{
    font-size: 14px;
    font-weight: bold;
}

col:hover {
    background-color:red;
}
