body{
    font-family: Arial, serif;
}

.timetable
{
    background-color: #fff;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: bold;
}

.timetable td
{
    border: 1px solid #000;
}

.timetable th
{
    padding: 3px;
    border: 1px solid #000;
    background-color: #aaa;
    font-size: 18px;
}

.timetable tr:nth-of-type(odd)
{
    background-color: #c1c1c1;
}

.timetable tr:hover
{
    background-color: #a2a2a2;
}

.sendInfo input:valid ~ input:valid ~ button
{
    display: block;
}

.sendInfo button
{
    display: none;
}

.type
{
    width: 40px;
}

.logo
{
    vertical-align: middle;
    height: 30px;
}

.warning {
    color: #f00;
    font-weight: bold;
}

.onTime {
    color: #14a012;
    font-weight: bold;
}

.end {
    color: #7b7b7b;
}

.inProcess {
    color: #000;
}
